*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content{
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 200px;
    background-color: rgb(147,149, 149);
}

#box1{
    height: 500px;
    width: 100%;
    background-color: rgb(15, 121, 154);
    position: relative;
    
}
#box2{
    height: 500px;
    width: 100%;
    background-color: rgb(255, 0, 0);
    position: absolute;
    right: 20px;
}
#box3{
    height: 500px;
    width: 100%;
    background-color: rgb(0, 255, 0);
    position: absolute;
    left: 20px;
}
#first{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 200px;
    background-color: rgb(236, 200, 20);
    margin: auto;
}
